/* ==========================================
    Default Theme
   ------------------------------------------
    Fonts: Raleway dan Open Sans 
   ------------------------------------------
   Colors;
    Yellow          #F4C613
    Grey            #212226
    White smoke     #f4f4f4
    white           #ffffff
    black           #000
========================================== */


/* ==========================================
                Html, Body
========================================== */

html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #ffffff;
    overflow: hidden;
}


/* ==========================================
                Preloader
========================================== */


/* background  */

#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}


/* animation */

#status {
    background-image: url("../img/preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}


/* ==========================================
                Home
========================================== */

#home {
    background: none;
    height: 100%;
}

#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url('../video/solo.jpg') no-repeat;
    background-size: cover;
}

#home-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1 {
    color: #ffffff;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

#home-heading h1 span {
    color: #F4C613;
    font-weight: 500;
}

#home-text {
    color: #ffffff;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
}


/* ==========================================
                Buttons
========================================== */

.btn-outline-light {
    font-family: 'Raleway', sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-home {
    color: white;
}

.btn-home:hover,
.btn-home:focus {
    color: #ffffff;
    background-color: #F4C613;
    border: 1px solid #F4C613;
}


/* ==========================================
                Arrow Down
========================================== */

#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: white;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #F4C613;
}


/* ==========================================
                About Boxes
========================================== */

.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}


/* ==========================================
                Vertical Headings
========================================== */

.vertical-heading h5 {
    color: #F4C613;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -63px;
}

.vertical-heading h2 {
    margin: 0 0 0 35px;
    font-size: 42px;
    font-weight: 200;
    line-height: 45px;
}


/* ==========================================
                About 01
========================================== */

#about-bottom {
    margin-top: 60px;
}

#about-right p:first-child {
    margin-bottom: 30px;
}


/* ==========================================
                About 02
========================================== */

#about-02 {
    background-color: #f4f4f4;
}

.about-item {
    background-color: #ffffff;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.about-item i {
    font-size: 42px;
    margin: 0;
}

.about-item h3 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #F4C613;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}


/* Hover state */

.about-item:hover {
    background-color: #F4C613;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #ffffff;
}

.about-item:hover hr {
    background-color: white;
}

.about-item:hover i {
    transform: translateY(-20px);
}


/* smooth transition  */

.about-item,
.about-item i,
.about-item hr {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}